body {
  height: 100vh;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  overflow: hidden;
  /*filter: drop-shadow(0 0 10px white);*/
}

@mixin font-style {
  font-size: 18px;
  font-weight: 600;
  font-family: 'Pacifico', cursive;
}

@mixin flex-col-cen-cen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin flex-row-cen-cen {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@mixin flex-cen-cen {
  display: flex;
  justify-content: center;
  align-items: center;
}

@function random_range($min, $max) {
  $rand: random();
  $random_range: $min + floor($rand * (($max - $min) + 1));
  @return $random_range;
}

.snow {
  $total: 200;
  position: absolute;
  width: 10px;
  height: 10px;
  background: white;
  border-radius: 50%;
  filter: drop-shadow(0 0 10px white);

  @for $i from 1 through $total {
    $random-x: random(1000000) * 0.0001vw;
    $random-offset: random_range(-100000, 100000) * 0.0001vw;
    $random-x-end: $random-x + $random-offset;
    $random-x-end-yoyo: $random-x + ($random-offset / 2);
    $random-yoyo-time: random_range(30000, 80000) / 100000;
    $random-yoyo-y: $random-yoyo-time * 100vh;
    $random-scale: random(10000) * 0.0001;
    $fall-duration: random_range(10, 30) * 1s;
    $fall-delay: random(30) * -1s;

    &:nth-child(#{$i}) {
      opacity: random(10000) * 0.0001;
      transform: translate($random-x, -10px) scale($random-scale);
      animation: fall-#{$i} $fall-duration $fall-delay linear infinite;
    }

    @keyframes fall-#{$i} {
      #{percentage($random-yoyo-time)} {
        transform: translate($random-x-end, $random-yoyo-y) scale($random-scale);
      }

      to {
        transform: translate($random-x-end-yoyo, 100vh) scale($random-scale);
      }
    }
  }
}

.reg-or-auth {
  width: 480px;
  height: max-content;
  position: absolute;
  border: 3px solid #7b0103;
  border-radius: 15px;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  transition: 1s;
  @include flex-col-cen-cen;

  .but-reg-or-auth {
    @include flex-row-cen-cen;
    width: 100%;

    .reg-but {
      width: 50%;
      height: auto;
      color: white;
      text-decoration: none;
      outline: none;
      padding: 15px;
      @include flex-cen-cen;
      @include font-style;
    }

    .auth-but {
      width: 50%;
      height: auto;
      color: white;
      text-decoration: none;
      outline: none;
      padding: 15px;
      @include flex-cen-cen;
      @include font-style;
    }
  }
}

.reg-but

.reg-but:active {
  background: #093e03;
  border-top-left-radius: 13px;
}

.reg-but:hover {
  background: darkgreen;
  border-top-left-radius: 13px;
  border-bottom-left-radius: 13px;
}

.auth-but:active {
  background: #093e03;
  border-top-right-radius: 13px;
}

.auth-but:hover {
  background: darkgreen;
  border-top-right-radius: 13px;
  border-bottom-right-radius: 13px;
}

.signin-btn:hover {
  border: 1px solid;
  box-shadow: inset 1px 1px 8px 20px #820900, 0px 0px 6px 1px #81c784;
  transform: scale(1.1);
}

.forma-registration {
  width: 450px;
  height: auto;
  padding: 15px;
  display: none;
  border-top: 2px solid white;

  .forma-reg-newuser {
    @include flex-col-cen-cen;

    .title-form {
      font-family: 'Mountains of Christmas', cursive;
      font-size: 40px;
      font-weight: 600;
      color: darkgreen;
      filter: none;
    }

    .forma-reg-input-cont {
      @include flex-col-cen-cen;
      width: 350px;

      .input-field {
        width: 350px;
        height: 50px;
        background: transparent;
        border: none;
        border-bottom: 2px solid grey;
        margin: 5px;
        padding: 0 0 0 15px;
        outline: darkgreen;
        color: white;
        font-family: 'Tenor Sans', sans-serif;
      }

      .input-field::placeholder {
        font-size: 15px;
        font-family: 'Tenor Sans', sans-serif;
      }

      .captcha-bloc {
        @include flex-col-cen-cen;
        margin: 15px 0;
      }

      .custom-redemption-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 5px;
        margin: 20px 0;

        .checkbox {
          width: 25px;
          height: auto;
          margin: 10px;
          border: none;
          outline: none;
        }

        .custom-redemption {
          color: whitesmoke;
          font-size: 18px;
        }
      }

      .signin-btn {
        width: 150px;
        height: 35px;
        border-radius: 5px;
        color: white;
        border: 2px solid transparent;
        background-color: transparent;
        transition: 1s;
        font-size: 15px;
        font-family: 'Tenor Sans', sans-serif;
        letter-spacing: 3px;
      }
    }
  }
}

.forma-auth {
  width: 450px;
  height: auto;
  padding: 15px;
  display: none;
  border-top: 2px solid white;

  .forma-auth-user {
    @include flex-col-cen-cen;

    .title-form {
      font-family: 'Mountains of Christmas', cursive;
      font-size: 40px;
      font-weight: 600;
      color: darkgreen;
      filter: none;
    }

    .forma-auth-input-cont {
      @include flex-col-cen-cen;
      width: 350px;

      .input-field {
        width: 350px;
        height: 50px;
        background: transparent;
        border: none;
        border-bottom: 2px solid grey;
        margin: 5px;
        padding: 0 0 0 15px;
        outline: darkgreen;
        color: white;
      }
    }
  }
}